{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Pisti Admin</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">

  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
  {% block link %}

  {% endblock %}
</head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="/adminapp/">Pisti Shoping</a></h1>
    </div>

 

    <div class="logo-icon text-center">
      <a href="/adminapp/" title="logo"><img src="{% static 'assets/images/logo.png' %}" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="/adminapp/"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-users" aria-hidden="true"></i>
            <span>Users</span></a>
          <ul class="sub-menu-list">
            <li><a href="/adminapp/users/">Users</a></li>
            <li><a href="/adminapp/premium-users/">Premium Users</a></li> 
          </ul>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-tasks" aria-hidden="true"></i>
            <span>Categories</span></a>
          <ul class="sub-menu-list">
            <li><a href="/adminapp/categories/">Manage Categories</a> </li>
            <li><a href="/adminapp/add-categories/">Add Categories</a> </li>
          </ul>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-tags" aria-hidden="true"></i>
            <span>Brands</span></a>
          <ul class="sub-menu-list">
            <li><a href="/adminapp/brands/">Manage Brands</a></li>
            <li><a href="/adminapp/add-brands/">Add Brands</a></li> 
          </ul>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-table"></i>
            <span>Ads</span></a>
          <ul class="sub-menu-list">
            <li><a href="/adminapp/user-ads/">User Ads</a></li>
            <li><a href="/adminapp/fetured-ads/">Fetured Ads</a></li> 
          </ul>
        </li>
        <li><a href="/adminapp/user-reprots/"><i class="fa fa-th"></i> <span>User Reportings</span></a></li>
        <li><a href="/adminapp/reports/"><i class="fa fa-file-text"></i> <span>Reports</span></a></li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header" style="height: 50px;">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="#search-results.html" method="get">
          </form>
        </div>
        <div class="user-dropdown-details d-flex">
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQF1ENNABs7vXg/profile-displayphoto-shrink_800_800/0/1614758759367?e=1621468800&v=beta&t=siJ6Cf6cMDY2hYoKrj4FKoXAoEZmetEVpfQ2DRKs2f4" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">Vishnu</h5>
                    <span class="status ml-2">Available</span>
                  </li>
                  <li class="logout"> <a href="/adminapp/admin-logout/"><i class="fa fa-power-off"></i> Logout</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
  <!-- main content start -->
<div class="main-content">

  <!-- content -->
    <div class="container-fluid content-top-gap" style="margin-top: 40px;">
      {% block content %}
      {% endblock %}
    </div>
<!-- //content -->
</div>
<!-- main content end-->
</section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
<span class="fa fa-angle-up"></span>
</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
    scrollFunction()
};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("movetop").style.display = "block";
    } else {
    document.getElementById("movetop").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
<!-- /move top -->


<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>

<!-- chart js -->
<script src="{% static 'assets/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/utils.js' %}"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="{% static 'assets/js/bar.js' %}"></script>
{% block js_script %}

{% endblock %}
<script src="{% static 'assets/js/linechart.js' %}"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>

<!-- close script -->
<script>
var closebtns = document.getElementsByClassName("close-grid");
var i;

for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
    this.parentElement.style.display = 'none';
    });
}
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
$(function () {
    $('.sidebar-menu-collapsed').click(function () {
    $('body').toggleClass('noscroll');
    })
});
</script>
<!-- disable body scroll when navbar is in active -->

<!-- loading-gif Js -->
<script src="{% static 'assets/js/modernizr.js' %}"></script>
<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });
</script>
<!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>

</html>