{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
</head>
<body style="background: #214a80;">
    <div class="login-dark" style="height: 695px;">
        <form>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" id="username" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" id="password" name="password" placeholder="Password"></div>
            <div class="form-group"><span id="span" style="color: red;font-size: 15px;"></span></div>
            <div class="form-group"><button type="button" id="btn" class="btn btn-primary btn-block">Log In</button></div>
            <a class="forgot" href="/adminapp/otp-generate/">Log-in with OTP</a></form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script>
        $('#btn').click(function(){
            var username = $('#username').val()
            var password = $('#password').val()
            var data = {
                'csrfmiddlewaretoken':'{{csrf_token}}',
                'username':username,
                'password':password

            }
            if(username.length<4){
                $('#span').html('<i class="fa fa-times" aria-hidden="true" > Enter the valid Username')
            }else if(password<1){
                $('#span').html('<i class="fa fa-times" aria-hidden="true" > Enter the valid Password')
            }else{
                $.ajax({
                    url:'/adminapp/',
                    method:'POST',
                    data:data,
                    dataType:'json',
                    success:function(data){
                        if(data=='true'){
                            window.location.replace('/adminapp/admin-home/')
                        }
                        if(data=='false'){
                            $('#span').html('<i class="fa fa-times" aria-hidden="true" >Invalid credentials')
                        }
                        if(data=='user'){
                            $('#span').html('<i class="fa fa-times" aria-hidden="true" >You are not a admin')
                        }
                    }
                })
            }
        })
    </script>

</body>

</html>