{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <style>
      .select{
        height: 35px;
        width: 100%;
        margin-top: 5px;
        background-color: #f0f0f0;
        border: none;
        text-align: center;
        color: #acacac;
        font-size: 21px;
        font-weight: 600;
      }
    </style>
</head>
<body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="logusername" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" id="logpassword" placeholder="Password" />
            </div>
            <div style="color: red;font-size: 15px;">
              <span id="first1"></span>
            </div>
            <input type="button" id="loginbtn" value="Login" class="btn solid" />
            <a href="/otp-generate/" style="font-size: 10px;color: #3590f0;">Login with OTP</a>
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="{% url 'social:begin' 'facebook' %}" class="social-icon">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="{% url 'social:begin' 'linkedin-oauth2' %}" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="first_name" placeholder="First Name" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="last_name" placeholder="Last Name" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" id="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fa fa-phone"aria-hidden="true"></i>
              <input type="text"  id="phone" placeholder="Phone no." />
            </div>
            <div class="input-field">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <select class="form-select select" id="district" aria-label="Select District">
                <option selected value="0">Select District</option>
                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                <option value="Kollam">Kollam</option>
                <option value="Alappuzha">Alappuzha</option>
                <option value="Pathanamthitta">Pathanamthitta</option>
                <option value="Idukki">Idukki</option>
                <option value="Kottayam">Kottayam</option>
                <option value="Ernakulam">Ernakulam</option>
                <option value="Thrissur">Thrissur</option>
                <option value="Palakkad">Palakkad</option>
                <option value="Malappuram">Malappuram</option>
                <option value="Kozhikode">Kozhikode</option>
                <option value="Wayanad">Wayanad</option>
                <option value="Kannur">Kannur</option>
                <option value="Kasaragod">Kasaragod</option>
              </select>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" id="password1" placeholder="Password" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" id="password2" style="font-size: 19px;" placeholder="Confirm password" />
            </div>
            <div style="color: red;font-size: 15px;">
              <span id="first"></span>
            </div>
            
            <input type="button" id="signupbtn" class="btn" value="Sign up" />
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Create your account on Pisti
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Log in with your Username and Password
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script>
      $('#signupbtn').click(function(){
        var first_name = $('#first_name').val()
        var last_name = $('#last_name').val()
        var username = $('#username').val()
        var email = $('#email').val()
        var atposition=email.indexOf("@");  
        var dotposition=email.lastIndexOf(".");  
        var phone = $('#phone').val()
        var district = $('#district').val()
        var password1 = $('#password1').val()
        var password2 = $('#password2').val()
        var data = {
          'csrfmiddlewaretoken':'{{csrf_token}}',
          'first_name':first_name,
          'last_name':last_name,
          'username':username,
          'email':email,
          'phone':phone,
          'district':district,
          'password':password1
        }
        if(first_name.length <4){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid first name')
        }else if(last_name.length <4 ){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid last name')
        }else if(username.length <4 ){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid Username')
        }else if(atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid Email ID')
        }else if(isNaN(phone) || phone.length != 10 ){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid Phone no.')
        }else if(district == '0'){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Select the District')
        }else if(password1.length <6){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Password must have 6 character')
        }else if(password2.length <1){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>confirm your password')
        }else if(password2 != password1){
          $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>confirm password must same as password')
        }else{
          $.ajax({
            url:'/user-signup/',
            method:'POST',
            data:data,
            dataType:'json',
            success:function(data){
              if(data=='true'){
                alert('User created')
                window.location.replace('/user-home/')
              }
              if(data=='false'){
                $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>something wrong')
              }
              if(data=='user'){
                $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Username is already taken')
              }
              if(data=='email'){
                $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Email ID is already taken')
              }
              if(data=='phone'){
                $('#first').html('<i class="fa fa-times" aria-hidden="true" ></i>Phone no. is already taken')
              }

            }
          })
        }
      })
      $('#loginbtn').click(function(){
        var username = $('#logusername').val()
        var password = $('#logpassword').val()
        var data = {
          'csrfmiddlewaretoken':'{{csrf_token}}',
          'username':username,
          'password':password
        }
        if(username.length<4){
          $('#first1').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid Username')
        }else if(password.length<1){
          $('#first1').html('<i class="fa fa-times" aria-hidden="true" ></i>Enter a valid password')
        }else{
          $.ajax({
            url:'/',
            method:'POST',
            data:data,
            dataType:'json',
            success:function(data){
              if(data=='true'){
                window.location.replace('/user-home/')
              }
              if(data=='false'){
                $('#first1').html('<i class="fa fa-times" aria-hidden="true" ></i>Invalid Credetials')
              }
            }
          })
        }
      })
    </script>

  </body>
</html>