{% extends 'user/base.html' %}
{% load static %}
{% block link %}
<style>
    h2 {
        font-family: "Poppins";
        font-size: 36px;
    
        margin-bottom: 15px;
    }
    
    h3 {
        font-size: 24px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.699);
    
        margin-bottom: 25px;
        margin-top: 0px;
    }
    
    h3,
    span,
    p {
        font-family: "Avenir";
    }
    
    .profile_container,
    .info,
    .back {
        margin: 60px 100px 0px;
        max-width: 900px;
        display: flex;
        overflow-x: hidden;
    }
    
    .back {
        display: flex;
        align-items: center;
        color: rgba(34, 34, 34, 0.5);
    }
    
    .back i {
        margin-right: 15px;
    }
    
    .profile_img-LG {
        height: 400px;
        width: 300px;
        border-radius: 40px;
    
        object-fit: cover;
        object-position: 50% 50%;
    
        background-position: 40% 50%;
    }
    
    .flag_wrapper {
        width: 50px;
        height: 50px;
        background-color: #f2f2f2;
        border-radius: 100%;
        position: relative;
        top: -70px;
        left: 230px;
    }
    
    .flag {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
    }
    
    .description {
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    .profile_img_section {
        margin-right: 50px;
    }
    
    .profile_desc_section {
        display: flex;
        flex-direction: column;
    
        margin-left: 50px;
    }
    
    .interests_item {
        display: inline-block;
        padding: 5px 15px;
        margin-right: 7.5px;
        margin-bottom: 10px;
        line-height: 35px;
        background-color: #4076d6;
        border-radius: 5px;
    
        color: rgb(255, 254, 254);
    }
    
    .info {
        margin-top: -20px;
        margin-left: 100px;
    }
    
    .link_img_wrapper {
        width: 40px;
        height: 40px;
        background-color: #f2f2f2;
        border-radius: 10px;
        position: relative;
    }
    
    .link_img {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
    }
    
    ul {
        padding: 0px;
    }
    
    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
    }
    
    li p {
        margin-left: 30px;
        color: rgba(34, 34, 34, 0.5);
    }
    
    @media screen and (max-width: 1000px) {
        .profile_container,
        .info,
        .back {
            margin: 30px 4px 0px;
        }
    
        .profile_container {
            flex-direction: column;
        }
    
        .profile_img_section {
            margin: 0 auto;
        }
    
        .profile_img-LG {
            width: 300px;
            height: 300px;
            border-radius: 100%;
        }
    
        .flag_wrapper {
        }
    
        .profile_desc_section {
            margin-left: 0px;
            margin-bottom: 10px;
            margin-top: -40px;
        }
    
        .info {
            margin-top: 10px;
            margin-left: 33px;
        }
    }
    
</style>
<style>
    .hero {
        min-height: 100vh;
        width: 100%;
        background-image: url(https://i.postimg.cc/d3n43ShN/keila-hotzel-Gb-EFj-VVHp-Q-unsplash.jpg);
        display: grid;
        place-items: center;
      }
      .banner {
        background: white;
        padding: 4rem 0;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 90vw;
        max-width: 80%;
      }
      
      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, 0.5);
        /*   opacity:0.5; */
        display: grid;
        place-items: center;
        transition: 1s all ease-in;
        visibility: hidden;
        z-index: -10;
      }
      .open-modal {
        visibility: visible;
        z-index: 10;
        transition: 1s all ease-out;
      }
      
      .modal-container {
        background: white;
        width: 90vw;
        height: 55vh;
      }
      
      
      .close-btn {
        background: transparent;
        outline: none;
        border: none;
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        animation: bounce 2s ease-in-out infinite;
      }
      
      @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
      
</style>
{% endblock %}
{% block content %}
<link rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<div class="container">

    <section class="profile_container">
        <div class="profile_img_section">
            <form action="" id="propicform">
            {% if user.propic == '' %}
                <img class="profile_img-LG" id="profilepic" style="height: 12em; width: 12em;" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" />
                <div class="flag_wrapper">
                    <img class="flag" src="https://cdn3.iconfinder.com/data/icons/eightyshades/512/14_Add-512.png" alt="South Korean Flag" onclick="setPropic()" />
                    <input type="file" accept="image/*" id="propic" style="display: none;">
                </div>
            {% else %}
                <img class="profile_img-LG" id="profilepic" src="{{user.propic}}" style="height: 12em; width: 12em;" />
                <div class="flag_wrapper">
                    <img class="flag" src="https://cdn3.iconfinder.com/data/icons/eightyshades/512/14_Add-512.png" alt="South Korean Flag" onclick="setPropic()"/>
                    <input type="file" accept="image/*" id="propic" style="display: none;">
                </div>
            {% endif %} 
            </form>
        </div>

        <div class="profile_desc_section">
            <h2 style="text-transform: capitalize;">{{user.first_name}}&nbsp;{{user.last_name}}</h2>
            <div class="interests">
                <button type="button"  class="btn btn-primary modal-btn" ><span id="followers" >{{count_followers}} followers</span></button>
                <button type="button"  class="btn btn-primary modal1-btn" id="following-btn"><span id="followings" >{{count_followings}} followings</span></button>
                <div class="modal-overlay">
                    <div class="modal-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <h3>followers&nbsp;</h3>
                                    <div>
                                        <ul id="followers-list">
                                            {% for follow in followers %}
                                                    <li id='ownlist-{{follow.follower.id}}'>
                                                        <a {% if request.user.id == follow.follower.id  %} href='/user-profile/' {% else %} href="/seller/{{follow.follower.id}}" {% endif %} style="text-decoration: none;color: black;">
                                                            <img src="{{follow.follower.propic}}" style="width: 2em;" alt="">
                                                            <label for="" style="text-transform: capitalize;">&nbsp;{{follow.follower.username}}</label>
                                                        </a>
                                                    </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6">
                                    <h3>&nbsp;followings</h3>
                                    <div>
                                        {% for follow in followings %}
                                            <ul>
                                                <li>
                                                    <a {% if request.user.id == follow.following.id  %} href='/user-profile/' {% else %} href="/seller/{{follow.following.id}}" {% endif %} style="text-decoration: none;color: black;" >
                                                        <img src="{{follow.following.propic}}" style="width: 2em;" alt="">
                                                        <label for="" style="text-transform: capitalize;">&nbsp;{{follow.following.username}}</label>
                                                    </a>
                                                    <button class="btn btn-danger" onclick="ModalFollow()"><span id="follow-button-{{follow.following.id}}">unfollow</span></button>
                                                    <script>
                                                        function ModalFollow(){
                                                            $.ajax({
                                                                url:'/follow-user/'+'{{follow.following.id}}',
                                                                method:'GET',
                                                                success:function(data){
                                                                    if(data == 'unfollow'){
                                                                        $('#follow-button-'+'{{follow.following.id}}').html('unfollow')
                                                                    }
                                                                    if(data == 'follow'){
                                                                        $('#follow-button-'+'{{follow.following.id}}').html('follow')
                                                                    }
                                                                }
                                                            })
                                                        }
                                                    </script>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                    <button class="close-btn"><i class="fas fa-times" style="width: 0px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        
            <br>    
            <ul>
                <li>
                    <div class="link_img_wrapper">
                        <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/globe-with-meridians_1f310.png" alt="">
                    </div>
                    <p>{{user.email}}</p>
                </li>
                <li>
                    <div class="link_img_wrapper">
                        <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/speaking-head_1f5e3-fe0f.png" alt="">
                    </div>
                    <p>{{user.phone}}</p>
                </li>
            </ul>
            <hr>
            <h3>Your Ads</h3>
            <div>
                {% for ad in userad %}
                <div class="col-md-7 col-sm-7  animated wow fadeInRight" data-wow-delay=".1s">
                    <div class="col-sm-4 item-grid simpleCart_shelfItem" >
                        <div class="grid-pro" style="padding: 0em; width: 12rem; height: 15rem;margin: 2em;">
                            <div  class=" grid-product " >
                                <figure>		
                                    <a href="/view-ad/{{ad.id}}">
                                        <div class="grid-img">
                                            <img  src="{{ad.img1}}" class="img-responsive" alt="" >
                                        </div>
                                        <div class="grid-img">
                                            <img  src="{{ad.img2}}" class="img-responsive"  alt="" >
                                        </div>		
                                    </a>		
                                </figure>	
                            </div>
                            <div class="women">
                                <h6><a href="/view-ad/{{ad.id}}">{{ad.title}}</a></h6>
                                <p ><em class="item_price">Rs : {{ad.price}}/-</em></p>
                                <small>Status : {{ad.status}}</small><br>
                                <small>Active : {{ad.active}}</small>
                            </div>
                        </div>
                    </div>
            
                </div>
                
                {% endfor %} 
               <hr>
            </div>
            <a href="/sell-product/"><button type="button" class="btn btn-success" style="margin-bottom: 2em;width: 15rem; height: 3em; font-size: 24px;">Sell Product</button></a>
        </div>

    </section>

    <div class="info">
        
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
    const modalOverlay = document.querySelector(".modal-overlay");
    const openModalBtn = document.querySelector(".modal-btn");
    const closeModalBtn = document.querySelector(".close-btn");

    openModalBtn.addEventListener("click", function () {
    modalOverlay.classList.add("open-modal");
    });

    closeModalBtn.addEventListener("click", function () {
    modalOverlay.classList.remove("open-modal");
    });

</script>
<script>
    const modalOverlay1 = document.querySelector(".modal-overlay");
    const openModalBtn1 = document.querySelector(".modal1-btn");
    const closeModalBtn1 = document.querySelector(".close-btn");

    openModalBtn1.addEventListener("click", function () {
    modalOverlay1.classList.add("open-modal");
    });

    closeModalBtn1.addEventListener("click", function () {
    modalOverlay1.classList.remove("open-modal");
    });

</script>

<script>
    function setPropic(){
        document.getElementById('propic').click()
    }

      $("#propic").change(function() {
            var image = this
            var form = new FormData(document.getElementById('propicform'));
            var file = document.getElementById('propic').files[0];
            if (file) {   
                form.append('profilepic', file);
                $.ajax({
                    type: "POST",
                    url: "/set-propic/{{user.id}}",
                    data: form,             
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data)
                    {
                        if(data == 'true'){
                            readURL(image);
                        }
                            
                        if(data == 'false'){
                            alert('upload canceled, try it after sometime')
                        }
                    }
                });
            }else{
                alert('file not valid')
            }
            
      });

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
            $('#profilepic').attr('src', e.target.result);
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
      }
      
</script>
{% endblock %}