{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<!-- banner -->
<div class="banner">
	<div class="banner-right">
		<ul id="flexiselDemo2">			
			<li><div class="banner-grid">
			<h2>Featured Products</h2>
			<div class="wome">
					<a href="single.html" ><img class="img-responsive" src="{% static 'images/bi1.jpg' %}" alt="" />
					</a>
					<div class="women simpleCart_shelfItem">
						<a href="#"><img src="{% static 'images/ll.png' %}" alt=""></a>
						<h6 ><a href="single.html">Sed ut perspiciatis unde</a></h6>
						<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
						<a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
					</div>							
					</div>							
				</div></li>
			<li><div class="banner-grid">
			<h2>Featured Products</h2>
			<div class="wome">
					<a href="single.html" ><img class="img-responsive" src="{% static 'images/bi.jpg' %}" alt="" />
					</a>	
					<div class="women simpleCart_shelfItem">
						<a href="#"><img src="{% static 'images/ll.png' %}" alt=""></a>
						<h6 ><a href="single.html">Sed ut perspiciatis unde</a></h6>
						<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
						<a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
					</div>						
					</div>						
				</div></li>
			<li><div class="banner-grid">
			<h2>Featured Products</h2>
			<div class="wome">
					<a href="single.html" ><img class="img-responsive" src="{% static 'images/bi2.jpg' %}" alt="" />
					</a>	
					<div class="women simpleCart_shelfItem">
						<a href="#"><img src="{% static 'images/ll.png' %}" alt=""></a>
						<h6 ><a href="single.html">Sed ut perspiciatis unde</a></h6>
						<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
						<a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
					</div>						
					</div>						
				</div>
			</li>
		</ul>
    </div>
</div>
<!-- //banner -->
<!--content-->
<div class="content-top">
	<div class="col-md-2">
		<!-- filters -->

	</div>
	<div class="col-md-8 animated wow " data-wow-delay=".1s" style="margin-top: 2em;margin-bottom: 2em;">
		{% for ad in ads %}
		{% if ad.active == True%}
		<div class="col-sm-4 item-grid simpleCart_shelfItem">
			<div class="grid-pro">
				<div  class=" grid-product " >
					<figure>		
						<a href="/view-ad/{{ad.id}}">
							<div class="grid-img">
								<img  src="{{ad.img1}}" class="img-responsive" alt="">
							</div>
							<div class="grid-img">
								<img  src="{{ad.img2}}" class="img-responsive"  alt="">
							</div>			
						</a>		
					</figure>	
				</div>
				<div class="women">
					<a href="#"><img src="{% static 'images/ll.png' %}" alt=""></a>
					<h6><a href="/view-ad/{{ad.id}}">{{ad.title}}</a></h6>
					<p ><em class="item_price" id="span"></em></p>
					<a href="/view-ad/{{ad.id}}" data-text="View Ad" class="but-hover1 item_add">View Ad</a>
				</div>
			</div>
		</div>
		{% endif %}
		<script>
			var number = parseFloat('{{ad.price}}');
			var result="₹ " + number.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) + '/-';
			document.getElementById("span").textContent= result ;
		</script>
		{% endfor %}
		<div class="clearfix"></div>
	</div>
	<div class="col-md-2"></div>
	<div class="clearfix"></div>
</div>
<!----->


{% endblock %}
			
